<div class="flash"><%= notice %></div>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
     <%= render 'books/list', user:@user, book:@book_new %>
    </div>
<div class="col-md-8 offset-md-1">
<h1>Books</h1>
<table>
   <tr>
    <th>Title</th> <th>Opinion</th><th colspan="2"></th>
  </tr>
 <% @books.each do |book| %>
 <% if book.user == @user %>
  <tr>
    <td>
        <%= link_to user_path(book.user.id) do %>
        <%= image_tag book.user.get_profile_image %>
        <% end %>
    </td>
    <td>
    <%= link_to book_path(book.id) do %>
    <%= book.title %> 
    <% end %>
    </td>
    <td><%= book.body %></td>
    <% if @user == current_user %>
    <td><%= link_to "Edit",edit_book_path(book.id), class: 'btn btn-sm btn-success'  %></td>
    <td><%= link_to "Destroy",book_path(book),method: :delete, class: 'btn btn-sm btn-danger' %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
  </tr>
  <% end %>
<% end %> 
</table>
</div>
</div>
</div>